{% extends 'base.html' %}

{% block main %}
    <div id="map"></div>
{% endblock %}

{% block js_vars %}
<script>
    variables['locations'] = "{{ locations|escapejs }}";
    variables['get_station_schedule'] = "{% url 'get_station_schedule' %}"
    variables['get_station_minutes_left'] = "{% url 'get_station_minutes_left' %}"

</script>

{% verbatim %}
<script id="station-schedule" type="x-tmpl-mustache">
<div class="station-block">
    <div class="name">{{ station }}</div>
    <div class="container">
        <div class="heading">
             <div class="col">Ruta</div>
             <div class="col">ETA</div>
        </div>
        {{#schedule}}
        <div class="table-row">
             <div class="col">{{route}}</div>
             <div class="col">{{ minutes }}</div>
        </div>
        {{/schedule}}
    </div>
</div>
</script>
{% endverbatim %}
{% endblock %}
