{% extends 'base.html' %}



{% block content %}
<div id="tabs">
    <div id="waypoints" data-role="content" class="content_div">
        <div class="ui-grid-b ui-responsive">
        {% for route in routes %}
            <input type="button" data-corners="false" data-enhanced="true" value="{{ route }}" class="route-btn">
        {% endfor %}
    </div>

<div class="ui-grid-solo">
    <div class="ui-block-a">
         <input data-rel="back" type="submit" name="Action" id="go-back" value="Inapoi" data-theme="c"/>
         <input data-rel="back" type="submit" name="Action" id="remove-waypoints" value="Ascunde traseu" data-theme="c"/>
    </div>
</div>

</div>
    <div id="schedule" data-role="content" class="content_div" style="display: block;">
        <div id="map"></div>
    </div>
</div>

{% endblock %}

{% block js_vars %}
<script>
    variables['locations'] = "{{ locations|escapejs }}";
    variables['get_station_schedule'] = "{% url 'get_station_schedule' %}"
    variables['get_station_minutes_left'] = "{% url 'get_station_minutes_left' %}"
    variables['route_waypoints'] = "{% url 'route_waypoints' %}"


</script>

{% verbatim %}
<script id="station-schedule" type="x-tmpl-mustache">
<div class="station-block">
    <div class="name">{{ station }}</div>
    <div class="container">
        <div class="heading">
             <div class="col">Ruta</div>
             <div class="col">ETA</div>
        </div>
        {{#schedule}}
        <div class="table-row" data-route='{{ route }}'>
             <div class="col">{{route}}</div>
             <div class="col">{{ minutes }}</div>
        </div>
        {{/schedule}}
    </div>
</div>
</script>
{% endverbatim %}
{% endblock %}
