body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}
.ui-content {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 !important;
}

.station-block {
    text-align: center;
}

.time-left {
    cursor: pointer;
    width: 120px;
    height: 20px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    z-index: 100;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.time-left:hover {
    background: #ECF0F1;
    color: #bdc3c7;
}

.container{
    display:table;
    width: 100%;
    border-collapse: collapse;
    }
 .heading{
     display:table-row;
     text-align: center;
     line-height: 25px;
     font-size: 13px;
     font-family:georgia;
     
 }
 .table-row{  
     display:table-row;
     text-align: center;
 }

 .table-row:hover {
    background: #ecf0f1;
    cursor: pointer;
 }
 .col{ 
    display:table-cell;
     border: 1px solid gray;
 }
 .station-block .name {
    margin-bottom: 5px;
 }